@import 'tailwindcss';

.button{
    width: 100px;
    height: 200px;
}

.button:hover {
  background-color: #45a049; /* Un verde más oscuro */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para un efecto de relieve */
}